# IntelliJ
.idea/
.settings/
.classpath
.project
.DS_Store
target/
dependency-reduced-pom.xml
*.iml

# IMDB files
TP1/data/
TP2/data/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.dvi
*.synctex.gz
*.toc

# Outputs
out-*/
.chechpoint/
