# IntelliJ
.idea/
.DS_Store
target/

# IMDB files
TP1/data/

# Latex
Relatório/*.dvi
Relatório/*.aux
Relatório/*.fdb_latexmk
Relatório/*.fls
Relatório/*.lof
Relatório/*.log
Relatório/*.out
Relatório/*.synctex.gz
Relatório/*.toc

# Outputs
out-*/
